.form-switch.form-switch-lg {
  min-height: 1.75rem;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  .form-check-input {
    height: 1.75rem;
    width: calc(2.75rem + 0.75rem);
    border-radius: 4rem;
    outline: 0;
    box-shadow: none;
    background-color: $hb-background-secondary;
    border-color:  $hb-background-secondary;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28230, 0, 122, 1%29'/%3e%3c/svg%3e");
    &:checked{
      background-color: $hb-primary-color;
      border-color:  $hb-primary-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
    }
  }
}

.form-control {
  background-color: $hb-background-secondary !important;
  color: $hb-white-color !important;
  padding: 12px 20px;
  border: 1px $hb-background solid;
  border-radius: 10px;
  outline: 0 !important;
  box-shadow: none !important;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  &:read-only {
    color: $hb-text-color !important;
    opacity: 0.6;
    &:focus {
      border-color: rgba($color: $hb-primary-color, $alpha: .4);
    }
  }
  &:focus {
    border-color: rgba($color: $hb-primary-color, $alpha: .6);
  }
}
.form-note {
  margin-bottom: 16px;
  padding: 10px 16px 10px 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: $hb-background;
  ol,ul {
    margin-bottom: 0;
    padding-left: 24px;
    li {
      margin-bottom: 5px;
    }
  }
}
.hb-form-control-wrap {
  position: relative;
  .form-control {
    padding-right: 60px;
  }
  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    padding: 10px;
    z-index: 2;
  }
}
