.hb-user-logged{
    display: inline-flex;
    align-items: center;
    transition: all ease-in-out .3s;
    text-decoration: none;
    color: $hb-text-color;
    font-size: 15px;
    font-weight: 500;
    &:hover{
        color: $hb-white-color;
    }
    @media(max-width:767px){
        .hb-user-avatar{
            img{
                margin-right: 0;
            }
        }
        span{
            display: none;
        }
    }
    .hb-user-avatar{
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 8px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}